<!DOCTYPE html>
    <html>
        <head>
            <title>Patient Data</title>
        </head>
        <body>
            <table >
                <tr>
                    <td>Name : </td>
                   <td>{{ patient.name }}</td>
                </tr>
                <tr>
                    <td>Clinic ID : </td>
                   <td>{{ patient.clinicid }}</td>
                </tr>
                <tr>
                    <td>Gender : </td>
                   <td>{{ patient.gender }}</td>
                </tr>
                <tr>
                    <td>Age : </td>
                   <td>{{ patient.age }}</td>
                </tr>
                <tr>
                    <td>Marital status : </td>
                   <td>{{ patient.marital }}</td>
                </tr>
                <tr>
                    <td>Occupation : </td>
                   <td>{{ patient.occupation }}</td>
                </tr>
                <tr>
                    <td>Phone number : </td>
                   <td>{{ patient.tel }}</td>
                </tr>
                <tr>
                    <td>Social ID : </td>
                   <td>{{ patient.socialid }}</td>
                </tr>
                <tr>
                    <td>Contraception method : </td>
                   <td>{{ patient.contrac }}</td>
                </tr>
              
            </table>
            <a href="/">Searchpage</a>
            </p>
        </body>
    </html>